body{
    background-color: teal;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculate{
    border-radius: 40px;
    background-color: #3a4452;
    text-align: center;
    padding: 20px;
    width: 400px;
}
input{
    background-color: transparent;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 30px;
    width: 20%;
    cursor: pointer;
    
}
.display-input{
    width: 80%;
    cursor: auto;
}
.equal{
    width: 170px;
}